
//COLORS
$color-dark-blue: #7799bb;
$color-light-orange: #f6d3c3;
$color-light-orange-2: #e8c7a6;
$color-darke-orange-1: #f26522;
$color-dark-orange-2: #f5b490;
$color-grey-1: #262d40;
$color-grey-2: #fafaff;
$color-grey-3: #9c9c97;
$color-grey-4: #e4e4de;
$color-purple: #8a5b9d;
$color-white: #ffff;
$color-white-2: #ececec;


//FONT-SIZE
$defaultFontSize: 1.6rem;

//