/*

0 - 600px: Phone
600 - 900px: Tablet portrait mode
900 - 1200px: Tablet landscape

(1200 - 1800px): Normal styles/Desktop-first approach

1800px+ Big desktop

*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
.home {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  background-image: url("/assets/images/bckg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
}

.home__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__content {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 50%;
  padding: 40px;
}

@media (max-width: 56.25em) {
  .home__content {
    width: 100%;
  }
}

.home__content-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 80px;
  margin-bottom: 10px;
  width: 100%;
}

.home__body {
  width: 100%;
}

.form {
  margin: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form__input {
  padding: 20px;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border: none;
  width: 100%;
  background-color: #ffcdcd;
}

.form__input:focus, .form__input:active {
  outline: none;
}

.form__submit {
  padding: 19px;
  border-radius: 0 5px  5px 0;
  -webkit-border-radius: 0 5px  5px 0;
  -moz-border-radius: 0 5px  5px 0;
  -ms-border-radius: 0 5px  5px 0;
  -o-border-radius: 0 5px  5px 0;
  border: none;
  background-color: #ffcdcd;
}

.form__submit:hover {
  cursor: pointer;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.home__list {
  width: 100%;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
  font-size: 1.6rem;
  width: 100%;
}

.list__item button {
  background-color: transparent;
  border: none;
}

.list__item button:hover {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.list__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #ffcdcd;
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__checkbox:active, .list__checkbox:checked:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.list__checkbox:checked {
  background-color: #262d40;
  border: 1px solid #262d40;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

.list__checkbox:checked:after {
  content: '\2714';
  font-size: 13px;
  color: #99a1a7;
}

.list__checkbox:hover {
  cursor: pointer;
}

.list__text {
  margin: 0 20px;
}

.list__checked-txt {
  text-decoration: line-through;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #262d40;
  overflow-x: hidden;
}

@media (max-width: 37.5em) {
  body {
    background-color: #fafaff;
  }
}

@media (max-width: 75em) {
  body {
    background-color: #fafaff;
  }
}

@media (max-width: 56.25em) {
  body {
    background-color: #fafaff;
  }
}
/*# sourceMappingURL=style.css.map */