.home {
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    background-image: url('/assets/images/bckg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__content {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    @include flexAlign(center, column);
    text-align: center;
    width: 50%;
    padding: 40px;

    @include respond(tab-port) {
        width: 100%;
    }
    
}

.home__content-head {
    @include flexAlign(center, column);
    font-size: 80px;
    margin-bottom: 10px;
    width: 100%;
}

.home__body {
    width: 100%;
}

.form {
    margin: 10px 0;
    width: 100%;
    @include flexAlign(center, row);
}

.form__input {
    padding: 20px;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border: none;
    width: 100%;
    background-color: #ffcdcd;
    &:focus, &:active{
        outline: none;
    }
}

.form__submit {
    padding: 19px;
    border-radius: 0 5px  5px 0;
    -webkit-border-radius: 0 5px  5px 0;
    -moz-border-radius: 0 5px  5px 0;
    -ms-border-radius: 0 5px  5px 0;
    -o-border-radius: 0 5px  5px 0;
    border: none;
    background-color: #ffcdcd;
    
    &:hover{
        cursor: pointer;
    }
    
}

.home__container {
    @include flexAlign(center, column);
    width: 100%;
}

.home__list {
    width: 100%
}

.list__item {
    @include flexAlign(space-between, row);
    margin: 20px 0;
    font-size: 1.6rem;
    width: 100%;

    button {
        background-color: transparent;
        border: none;

        &:hover{
            cursor: pointer;
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
        }
    }
}

.list__checkbox {
    appearance: none;
    border: 1px solid #ffcdcd;
    background-color:  white;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active, 
    &:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    &:checked {
        background-color: $color-grey-1;
        border: 1px solid $color-grey-1;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;
    }

    &:checked:after {
        content: '\2714';
        font-size: 13px;
        color: #99a1a7;
    }

    &:hover {
        cursor: pointer;
    }
}

.list__text {
    margin: 0 20px;
}


.list__checked-txt {
    text-decoration: line-through;
}